services:
  dev:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        UID: 1025
        GID: 1025
    image: dev-cuda116:torch1131
    container_name: dev-cuda116

    ipc: host
    shm_size: "16g"
    tty: true
    stdin_open: true
    network_mode: host

    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - TZ=Etc/UTC

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: ["gpu"]

    volumes:
      - ..:/home/capitan/workspace
      - /mnt/vol0/datasets/jrdb:/home/capitan/workspace/DCCLA/data/JRDB2019